xml/Ejemplo2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="receta" type="tipoConjunto" />

    <xs:complexType name="tipoConjunto">
        <xs:sequence>
            <xs:element name="titulo" type="xs:string" />
            <xs:element name="ingredientes" maxOccurs="unbounded" type="xs:string" />
            <xs:element name="procedimiento" maxOccurs="unbounded" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>