xml/persona.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://ejemplo.org/persona"
    xmlns:dir="http://ejemplo.org/direccion"
    elementFormDefault="qualified">

    <xs:import namespace="http://ejemplo.org/direccion" schemaLocation="direccion.xsd" />

    <xs:element name="persona">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombre" type="xs:string" />
                <xs:element name="edad" type="xs:integer" />
                <xs:element ref="dir:direccion" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>