xml/ejerciciosExamen/direccion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://ejemplo.org/direccion"
    elementFormDefault="qualified">

    <xs:element name="direccion">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="calle" type="xs:string" />
                <xs:element name="ciudad" type="xs:string" />
                <xs:element name="codigoPostal" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>